.section-header {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 7px;
    /* text-decoration: overline; */
}

h2 {
    text-decoration: overline;
}
/* NAV BAR */

/* #nav-container {
    padding: 20px;
}

.nav-item {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 22px;
} */

/* NAV BAR */
#nav-container {
    /* padding: 2px; */
    height: 100%;
    width: auto;
    z-index: 1;
    top: 0;
    right: 0; 
    /* background-color: rgb(235, 157, 13); */
    overflow-x: hidden;
    position: fixed; 
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

.nav-item {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 22px;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

.name {
    color: black;
    text-decoration: none;
}

.name:hover {
    /* color: #25faa8; */
    color: #0062ff;
    text-decoration: none;
}

#title {
  font-size: 40px;  
}

button {
    height: 100px;
    width: auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border: 3px solid black;
    border-radius: 2px;
    background: white;
  }

button:hover {
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LANDING SECTION */

#landing-section {
    /* background: yellow; */
    /* height: 100%; */
    padding-top: 15%;
    margin-bottom: 0;
    /* padding-left: 20%;
    padding-right: 20%; */
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    height: 80vh;
    width: auto;
}

#hello {
  color: #0062ff;
}

.about-me {
    /* background-color: salmon; */
    text-align: left;
    font-size: 27px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;

}

/* PROJECTS */
#projects{
    margin-left: 2%;
    margin-right: 2%;
}
/* .col-md-5 {
    background-color: chartreuse;
    border: solid 4px black;
    padding: 10px;
    margin: 7px;
}

.col-md-5:hover {
    background-color: black;
    font-size: 40px;
    padding: 14px;
} */

.col-md-4 {
    /* background-color: chartreuse; */
    /* border: solid 4px black; */
    padding: 10px;
    /* margin: 2px; */
}

.col-md-4:hover {
    background-color: black;
    font-size: 32px;
    color: whitesmoke;
    padding: 14px;
}


/* ABOUT SECTION */
#about {
    margin-left: 15%;
    margin-right: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-md-3 {
    /* background-color: rgb(80, 64, 224); */
    height: 50%;
    padding: 22px;
    margin: 7px;
    /* margin-left: 2px; */
}

.about-header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
}

h3:hover {
  /* box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2); */
  /* text-decoration: line-through;
  text-decoration: overline; */
  color: #25faa8;
  text-decoration: overline; 
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* FOOTER */
footer {
    /* background-color: rgb(218, 28, 192); */
    background-color: #25faa8;
    color: white;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    position: fixed; 
    width: 100%;
}

#social-container {
    display: flex;
    flex-direction: row;
    /* background-color: mediumslateblue; */
}

.linkedin {
    /* background-color: orange; */
    width: 25%;
    /* height: 20%; */
    /* padding: 2px; */
    /* margin: 0; */
    margin-left: 25%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.github {
    /* background-color: palegreen; */
    width: 25%;
    /* height: 20%; */
    /* padding: 2px; */
    padding-top: 2px;
    padding-bottom: 2px;
}

.resume{
    /* background-color: rgb(32, 19, 143); */
    width: 30%;
    /* height: 20%; */
    padding: 5px;
}

.empty-column {
    background-color: white;
    width: 5%;
    height: 50%;
}





/* CONTACT SECTION */
#contact-section {
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
}
/* #contact-container {
    height: 100vh;
    width: auto;
    background: white;
    margin: 10%;
} */

#contact-form {
    background-color: white;
    margin: 30px;
    padding: 70px;
    border: solid 4px black;
    /* margin-bottom: 10px; */
}

/* CONTACT FORM - FORMSPREE.IO CODE */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825em;
  margin-bottom: .5em;
  padding-top: .2em;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: black;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
